body{
    background: #1C1B24;
    color: #fff;
    overflow-x: hidden;
}

.container{
    min-width: 80%;
    margin: 0 auto;
}

section{
    padding: 100px 0 0 0;
}

.navbar{
    padding: 40px 10%;
}

.navbar a{
    color: #fff;
    text-decoration:none !important;
}

.navbar a:hover{
    color: #FFA500
}

.navbar-brand{
    font-weight: 600
}

h1{
    margin-bottom: 50px;
    font-weight: 800;
}

p{
    font-size: 22px;
}

.theme{
    color: #FFA500;
}

.btn-success{
    background: #FFA500;
    color: #000;
    font-weight: 700;
    padding: 10px 20px;
}

.wallet p{
    color: #FFA500;
    font-size: 15px;;
}

.contact h2{
    font-size: 22px;
    font-weight: 700;
}

.contact p{
    font-size: 15px;
}

.getstarted:nth-child(odd){
    margin-left: 20%;
    border-right: 2px solid #FFA500;
}
.getstarted:nth-child(even){
    margin-right: 20%;
    border-left: 2px solid #FFA500;
}

.getstarted h2{
    font-weight: 700;
}

.bg {
    animation:slide 1s ease-in-out;
    background-image: linear-gradient(60deg, #1C1B24 50%, #121212 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:absolute;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  /* .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:24s;
  }
   */
  /* .bg3 {
    animation-duration:25s;
  } */
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(0%);
    }
  }

  .btn{
      background: linear-gradient(90deg, #FFA500, #D18525);
      color: #fff;
  }