body{
    background: #000000;
    color: #fff;
}

section{
    padding: 100px 0 0 0;
}

.navbar{
    padding: 40px 10%;
}

.navbar a{
    color: #fff;
    text-decoration:none !important;
}

.navbar a:hover{
    color: #06FCB2
}

.navbar-brand{
    font-weight: 600
}

h1{
    margin-bottom: 50px;
    font-weight: 800;
}

p{
    font-size: 22px;
}

.theme{
    color: #06FCB2;
}

.btn-success{
    background: #06FCB2;
    color: #000;
    font-weight: 700;
    padding: 10px 20px;
}

.wallet p{
    color: #06FCB2;
    font-size: 15px;;
}

.contact h2{
    font-size: 22px;
    font-weight: 700;
}

.contact p{
    font-size: 15px;
}

.getstarted:nth-child(odd){
    margin-left: 20%;
    border-right: 2px solid #DC1FFF;
}
.getstarted:nth-child(even){
    margin-right: 20%;
    border-left: 2px solid #DC1FFF;
}

.getstarted h2{
    font-weight: 700;
}

